@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Nunito", sans-serif;
  color: #0D3B66;
  color: #0D3B66;
  font-weight: 400;
}
p {
  font-size: 16px;
  margin: 0.75rem 0;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}
h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: .75rem;
}
h3 {
  font-size: 1.25rem;
}

.display {
  font-size: 3.75rem;
  margin:0;
}


.App-header {
  background-color: #3083dc;
  background-image: linear-gradient(to right bottom, #3083dc, #7ede92);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weatherToday {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 620px;
  margin-bottom: 2rem;
}

.weatherToday div {
  flex: 1;
}

.todaysIcon, .todaysTemp {
  text-align: center;
}
.weatherToday h2 {
  margin: 0;
}
.weatherToday p {
  margin: 0;
}

.todaysTemp {
  border-left: 1px dotted #dfe3e8;
}


.todaysIcon p {
  margin-top: -1.5rem;
}

.todaysIcon img {
  width: 100%;
  padding: 0 1.5rem;
}

.dailyContainer {
  background: white;
  border-radius: 16px;
  width: 620px;
  padding: 1.5rem;
  -webkit-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.25);
}

.dailyWeather {
  display: flex;
  justify-content: center;
}

.dailyItem {
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-right: 1px dotted #dfe3e8;
  padding: 0 1.5rem;
}

.dailyItem:last-child {
  border-right: none;
}

.dailyItem img {
  height: 2.5rem;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .dailyContainer {
    width: -webkit-calc(100% - 38px);
    width:    -moz-calc(100% - 38px);
    width:         calc(100% - 38px);
    margin-bottom: 2rem;;
  }

  .weatherToday {
    flex-wrap: wrap;
    margin-top: 2rem;
    width: -webkit-calc(100% - 38px);
    width:    -moz-calc(100% - 38px);
    width:         calc(100% - 38px);
  }
  .todaysDate {
    min-width: 100%;
    margin-bottom: 1rem;
  }
  .dailyWeather {
    flex-direction: column;
  }

  .dailyItem {
    flex-direction: row;
    border-right: none;
    border-bottom: 1px dotted #dfe3e8;
    padding: 0;
    justify-content: space-between;
  }
  
  .dailyItem:last-child {
    border-right: none;
    border-bottom: none;
  }
}
